.position-absolute{
    position:absolute;
}
div.map-container{
    position:relative;
    overflow: hidden;
}

div.img-map-item{
    position:absolute;
    content:url(../img/map-marker-icon.png);
}

div.img-map{
    content:url(../img/map_full.jpg);
    max-width: 100%;
    max-height: 100%;
}

div.img-heroes{
    content:url(../img/map_heroes.png);
}

div.img-horror{
    height:100px;
    content:url(../img/map_horror.png);
}

div.img-warrior{
    content:url(../img/map_warriors.png);
}

.glow-on-hover:hover{
    overflow: visible;
    -webkit-animation: neon4 1s ease-in-out infinite alternate;
    -moz-animation: neon4 1s ease-in-out infinite alternate;
    animation: neon4 1s ease-in-out infinite alternate;
    transform-origin: 50% 50%;
    transition:all 0.25s ease-in-out;
    z-index: 999;

}
.rotate1:hover{
    transform: scale(1.1);
    transform:rotate(5deg);
}
.rotate2:hover{
    transform: scale(1.1);
    transform:rotate(-5deg);
}
.rotate3:hover{
    transform: scale(1.1);
    transform:rotate(-3deg);
}
div.img-100{
    height:100px;/*TODO::REMOVE*/
}
/*FROM http://codepen.io/FelixRilling/pen/qzfoc*/
@-webkit-keyframes neon4 {
    from {
        filter: drop-shadow(0 0 2px #fff)
        drop-shadow(0 0 4px #fff)
        drop-shadow(0 0 5px #B6FF00)
        drop-shadow(0 0 10px #B6FF00)
    }
    to {
        filter: drop-shadow(0 0 1px #fff)
        drop-shadow(0 0 2px #fff)
        drop-shadow(0 0 3px #B6FF00)
        drop-shadow(0 0 6px #B6FF00)
    }
}

.doight{
    cursor: pointer;
    cursor: hand;
}

.no-padding{
    padding: 0;
}

i.fa-rotate-45{
    transform: rotate(45deg);
}

/*.zoom-initial{
    transform: scale(0.2499);
    transform-origin: 0 0;
}*/

.from-horror-to-heroes{
    animation:from-horror-to-heroes 2s ease-in-out forwards;
}
@-webkit-keyframes from-horror-to-heroes{
    0%{
        transform: scale(2);
        transform-origin: 100% 100%;
    }
    50% {
        transform: scale(1);
        transform-origin: 100% 100%;
    }
    50.001%{
        transform: scale(1.001);
        transform-origin: 54% top;
    }
    100%{
        transform: scale(2);
        transform-origin: 54% top;
    }
}
.from-horror-to-warriors{
    animation:from-horror-to-warriors 2s ease-in-out forwards;
}
@-webkit-keyframes from-horror-to-warriors{
    0%{
        transform: scale(2);
        transform-origin: 100% 100%;
    }
    50% {
        transform: scale(1);
        transform-origin: 100% 100%;
    }
    50.001%{
        transform: scale(1.001);
        transform-origin: 3% 90%;
    }
    100%{
        transform: scale(2);
        transform-origin: 3% 90%;
    }
}
/**************************/

.from-heroes-to-horror{
    animation:from-heroes-to-horror 2s ease-in-out forwards;
}
@-webkit-keyframes from-heroes-to-horror{
    0%{
        transform: scale(2);
        transform-origin: 54% top;
    }
    50% {
        transform: scale(1);
        transform-origin: 54% top;
    }
    50.001%{
        transform: scale(1.001);
        transform-origin: 100% 100%;
    }
    100%{
        transform: scale(2);
        transform-origin: 100% 100%;

    }
}
.from-heroes-to-warriors{
    animation:from-heroes-to-warriors 2s ease-in-out forwards;
}
@-webkit-keyframes from-heroes-to-warriors{
    0%{
        transform: scale(2);
        transform-origin: 54% top;
    }
    50% {
        transform: scale(1);
        transform-origin: 54% top;
    }
    50.001%{
        transform: scale(1.001);
        transform-origin: 3% 90%;
    }
    100%{
        transform: scale(2);
        transform-origin: 3% 90%;
    }
}
/**************************/

.from-warriors-to-horror{
    animation:from-warriors-to-horror 2s ease-in-out forwards;
}

.from-warriors-to-heroes{
    animation:from-warriors-to-heroes 2s ease-in-out forwards;
}
@-webkit-keyframes from-warriors-to-heroes{
    0%{
        transform: scale(2);
        transform-origin: 3% 90%;
    }
    50% {
        transform: scale(1);
        transform-origin: 3% 90%;
    }
    50.001%{
        transform: scale(1.001);
        transform-origin: 54% top;
    }
    100%{
        transform: scale(2);
        transform-origin: 54% top;

    }
}

@-webkit-keyframes from-warriors-to-horror{
    0%{
        transform: scale(2);
        transform-origin: 3% 90%;
    }
    50% {
        transform: scale(1);
        transform-origin: 3% 90%;
    }
    50.001%{
        transform: scale(1.001);
        transform-origin: 100% 100%;
    }
    100%{
        transform: scale(2);
        transform-origin: 100% 100%;

    }
}
/*************************************************/
.from-initial-to-heroes{
    animation:from-initial-to-heroes 1s ease-in-out forwards;
}
@-webkit-keyframes from-initial-to-heroes{
    0.001%{
        transform: scale(1.0001);
        transform-origin: 54% top;
    }
    100%{
        transform: scale(2);
        transform-origin: 54% top;
    }
}

.from-initial-to-warriors{
    animation:from-initial-to-warriors 1s ease-in-out forwards;
}
@-webkit-keyframes from-initial-to-warriors{
    0%{
        transform: scale(1);
        transform-origin: 3% 90%;
    }
    100%{
        transform: scale(2);
        transform-origin: 3% 90%;
    }
}
.from-initial-to-horror{
    animation:from-initial-to-horror 1s ease-in-out forwards;
}
@-webkit-keyframes from-initial-to-horror{
    0%{
        transform: scale(1);
        transform-origin: 100% 100%;
    }
    100%{
        transform: scale(2);
        transform-origin: 100% 100%;
    }
}
/*************************************************/
.from-horror-to-initial{
    animation:from-horror-to-initial 1s ease-in-out forwards;
}
@-webkit-keyframes from-horror-to-initial{
    0%{
        transform: scale(2);
        transform-origin: 100% 100%;
    }
    100%{
        transform: scale(1);
        transform-origin: 100% 100%;
    }
}

.from-warriors-to-initial{
    animation:from-warriors-to-initial 1s ease-in-out forwards;
}
@-webkit-keyframes from-warriors-to-initial{
    0%{
        transform: scale(2);
        transform-origin: 3% 90%;
    }
    100%{
        transform: scale(1);
        transform-origin: 3% 90%;
    }
}
.from-heroes-to-initial{
    animation:from-heroes-to-initial 1s ease-in-out forwards;
}
@-webkit-keyframes from-heroes-to-initial{
    0%{
        transform: scale(2);
        transform-origin: 54% top;
    }
    100%{
        transform: scale(1);
        transform-origin: 54% top;
    }
}
/**********************************/
.pulse {
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes greenPulse {
    from {filter: drop-shadow(0 0 1px #E4C89C) drop-shadow(0 0 2px #E4C89C); }
    50% {filter: drop-shadow(0 0 2px #EAF760) drop-shadow(0 0 3px #EAF760) drop-shadow(0 0 4px #EAF760); }
    to {filter: drop-shadow(0 0 1px #E4C89C) drop-shadow(0 0 2px #E4C89C); }
}