div.map-container{
    position:relative;
}

div.img-map{
    content:url(../img/map.jpg);
    max-width: 100%;
    max-height: 100%;
}

div.img-map-item{
    position:absolute;
    content:url(../img/map-marker-icon.png);
    height:48px;/*TODO::REMOVE*/
    width:48px;/*TODO::REMOVE*/
}

.pulse:hover{
    -webkit-animation: neon4 1s ease-in-out infinite alternate;
    -moz-animation: neon4 1s ease-in-out infinite alternate;
    animation: neon4 1s ease-in-out infinite alternate;
}

/*FROM http://codepen.io/FelixRilling/pen/qzfoc*/
@-webkit-keyframes neon4 {
    from {
        filter: drop-shadow(0 0 2px #fff)
        drop-shadow(0 0 4px #fff)
        drop-shadow(0 0 5px #B6FF00)
        drop-shadow(0 0 10px #B6FF00)
    }
    to {
        filter: drop-shadow(0 0 1px #fff)
        drop-shadow(0 0 2px #fff)
        drop-shadow(0 0 3px #B6FF00)
        drop-shadow(0 0 6px #B6FF00)
    }
}
