<div class="modal-header">
  <h3 class="modal-title" id="map-modal-title">Map</h3>
</div>
<div class="modal-body no-padding" id="map-modal-body">
    <div class="map-container">
        <div class='img-map' ng-class="stateClass"></div>
        <div class="glow-on-hover img-100 doight position-absolute"
             ng-repeat="attraction in attractions"
             ng-class='attraction.imgClass'
             ng-click="goto('initial',attraction.state)"
             ng-show="currentState=='initial'"
             data-container="body"
             data-toggle="popover"
             data-trigger="hover"
             data-title="{{attraction.title}}"
             data-content="{{attraction.description}}">
        </div>
        <i class="doight fa fa-3x position-absolute"
            ng-class="navigation.cssClass"
            ng-repeat="navigation in navigations"
            ng-click="goto(navigation.from,navigation.to)"
            ng-show="currentState==navigation.from"
            ng-style="{bottom:navigation.bottom,left:navigation.left}"
            data-container="body"
            data-toggle="tooltip"
            data-trigger="hover"
            data-title="{{navigation.label}}">
        </i>
    </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
</div>