<div class="modal-header">
  <h3 class="modal-title" id="map-modal-title">Map</h3>
</div>
<div class="modal-body no-padding" id="map-modal-body" style="">
    <div class="map-container">
        <div class='img-map' ng-class="stateClass"></div>
        <div class="glow-on-hover doight position-absolute"
             ng-repeat="attraction in attractions"
             ng-class="(attraction.imgClass + ' ' + attraction.anim )"
             ng-click="goto('initial',attraction.state)"
             ng-show="showAttraction">
        </div>
        <div class="position-absolute"
             ng-repeat="attraction in attractions"
             ng-class='attraction.anim'
             ng-show="showAttraction">
        </div>
        <div class="glow-on-hover doight position-absolute img-map-item pulse"
             ng-repeat="mapItem in mapItems"
             ng-show="nav[mapItem.state]"
             ng-style="{bottom:mapItem.bottom,left:mapItem.left}"
             data-container="body"
             data-toggle="popover"
             data-trigger="hover"
             data-title="{{mapItem.title}}"
             data-content="{{mapItem.description}}">
        </div>
        <i class="doight fa fa-3x position-absolute color-darkviolet"
            ng-class="navigation.cssClass"
            ng-repeat="navigation in navigations"
            ng-click="goto(navigation.from,navigation.to)"
            ng-show="nav[navigation.from]"
            ng-style="{bottom:navigation.bottom,left:navigation.left}"
            data-container="body"
            data-toggle="tooltip"
            data-trigger="hover"
            data-title="{{navigation.label}}">
        </i>
        <div class="position-absolute" style="z-index: 999999;bottom: 0px;right:42%;font-size: x-large;">
            Hover and click.
        </div>
    </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
</div>